@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
  background: #f5f5f5;
}

a {
  text-decoration: none;
}
p {
  font-size: 1.6rem;
}


header {
  z-index: 1000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.container {
  width: 100%;
  max-width: 102rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 2.4rem;
  position: relative;
}

/* Top Nav */
.top-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 128px;
  margin-top: 26px;
  z-index: 100;
}

.utility {
  display: flex;
  justify-content: space-between;
  width: 100%;

  align-items: center;
}
.logo {
  width: 100%;
  max-width: 175px;
  height: 100%;
}

.utility-content {
  display: flex;
  width: 100%;
  height: 60px;
  max-width: 610px;
  justify-content: flex-end;
}
.utility-item {
  display: flex;
  margin: 0 20px;
}
.utility-item img {
  height: 24px;
  margin: 5px;
}
.utility-item p {
  font-size: 1.2rem;
  line-height: 2.2rem;
  letter-spacing: 0.15px;
  color: #fff;
}
.hours p {
  font-weight: 700;
}
.phone p {
  font-weight: 500;
}
.cta-btn {
  background-color: #f2726f;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  line-height: 2.4rem;
  letter-spacing: 0.15px;
  padding: 0.5rem 3rem;
  border: none;
  border-radius: 0.4rem;
  height: 40px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.cta-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  z-index: -1;
}

.cta-btn:hover::after {
  transform: scale(1.2, 1.6);
  opacity: 0;
  transition: all 0.6s;
}
nav {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background-color: #fff;
  border-radius: 10px;
}
.nav-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nav-item {
  margin: 0 2rem;
}
.nav-item a {
  font-size: 1.4rem;
  float: none;
  color: black;
  padding: 14px 0;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 700;
}
/* Mob Nav */
.mob-nav {
  display: none;
  
}
.hamburger-menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  height: 5rem;
  width: 5rem;
  background-color: #eee;
  border-radius: 0.4rem;
  box-shadow: 0.2rem 0.2rem 1rem #cacaca, -0.2rem -0.2rem 1rem #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  transform: rotate(0deg);
  transition: all 0.5s;
}
.hamburger-menu:hover {
  box-shadow: inset 0.5rem 0.5rem 1rem #cacaca, inset -0.5rem -0.5rem 1rem #fff;
}
.bar {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
  position: relative;
  transition: all 0.5s;
}
.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #333;
  transition: all 0.5s;
}

.bar::before {
  top: -0.8rem;
}
.bar::after {
  top: 0.8rem;
}
.open .hamburger-menu {
  transform: rotate(90deg) !important;
}
.open .bar {
  background-color: transparent;
}

.open .bar::before {
  top: 0;
  transform: rotate(135deg);
  background-color: red;
}

.open .bar::after {
  top: 0;
  transform: rotate(-135deg);
  background-color: red;
}
.mob-nav-list {
  width: 40%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.2);
  z-index: 1500;
  transform: translateX(55rem);
  transition: all 0.5s ease;
}

.open .mob-nav-list {
  transform: translateX(0);
}

.mob-nav-item {
  list-style: none;
  border-bottom: 2px solid #f2726f;
}

.mob-nav-link {
  text-decoration: none;
  display: block;
  color: #333;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 0.5rem;
  transition: all 0.5s;
}
.mob-nav-link:hover {
  color: #f2726f;
}

/* Hero  */
.hero {
  position: relative;
  width: 100%;
  height: 800px;

  background: url("./img/heroBG.png") center no-repeat;
  background-size: cover;
  top: 0;
  z-index: 1;
}
.hero-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.hero h1 {
  font-size: 5.6rem;
  font-weight: 900;
  color: #fff;
  line-height: 5.6rem;
  margin-bottom: 5rem;
}

/* About */
.aboutCircles {
  position: absolute;
  right: -8rem;
  top: -20rem;
  z-index: 15;
}

.about-content {
  width: 100%;
  height: 100%;
  height: 850px;
  position: relative;
  top: -8rem;
  z-index: 15;
}
.blue-container {
  width: 100%;
  height: 700px;

  background-color: #5d62b5;
  border-radius: 40px;
  padding: 6rem;
  color: #fff;
}
.overline {
  margin-top: 3rem;
  text-transform: uppercase;
  position: relative;
}
.overline p {
  display: flex;
  align-items: center;

  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 2.5px;
}

.about .overline p {
  color: #f5f5f5;
}
.fa-chevron-left {
  font-size: 7px;
  left: 1px;
  position: relative;
}
.fa-chevron-right {
  font-size: 14px;
  margin-right: 2rem;
}

.blue-container h2 {
  position: relative;
  margin: 3rem 0;
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 4.2rem;
  max-width: 33ch;
  z-index: 10;
}
.blue-container p {
  position: relative;
  line-height: 2.4rem;
  color: #f5f5f5;
  letter-spacing: 0.15px;
  z-index: 10;
}
.about-blob {
  position: absolute;
  left: -5rem;
  bottom: 3rem;
  z-index: 1;
}
.about-dog {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 80%;
  z-index: 2;
}
.about-dog img {
  width: 100%;
  height: auto;
}

/* fetures */
.features {
  min-height: 310px;
}

.features .overline p {
  color: #5d62b5;
}

.features-heading {
  font-size: 3.6rem;
  line-height: 4.2rem;
  font-weight: 900;
  margin: 2rem 0 6rem 0;
}
.features-card-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 7rem;
}
.features-card {
  min-width: 300px;
  min-height: 150px;
  display: flex;
  margin: 3rem 0.5rem;
}
.card-image {
  margin-right: 2rem;
}
.card-content h3 {
  color: #f2726f;
  font-size: 1.9rem;
  font-weight: 900;
  line-height: 26px;
  margin-bottom: 3rem;
}
.card-content p {
  color: #4b4b4b;
  letter-spacing: 0.15px;
  line-height: 26px;
  max-width: 25ch;
}

/* Video */
.video {
  width: 100%;
  height: 500px;
  background: url("./img/videoBg.png") center no-repeat;
  background-size: cover;
}

.video-content {
  margin-left: auto;
  width: 50%;
  height: 100%;
  padding-left: 10%;
  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.video-content h2 {
  font-size: 3.6rem;
  color: #fff;
  font-weight: 900;
  line-height: 42px;
  margin-bottom: 4rem;
  max-width: 20ch;
}

/* services */
.services {
  overflow: hidden;
  position: relative;
}
.grayBlob {
  position: absolute;
  top: -700px;
  right: 0;
}

.services .overline {
  color: #5d62b5;
  margin-top: 10rem;
}
.services-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.services-card {
  max-width: 300px;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 3rem;
  box-shadow: 0px 0px 0px rgba(38, 38, 38, 0.24);
  transition: all 0.5s ease-in-out;
}
.services-card:hover {
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24),
    0px 16px 24px rgba(38, 38, 38, 0.2);
}
.services-card h3 {
  color: #f2726f;
  font-weight: 900;
  font-size: 1.9rem;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}
.services-card p {
  text-align: center;
  line-height: 2.4rem;
  letter-spacing: 0.15px;
  color: #4b4b4b;
}
.services .cta-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 3rem 0 10rem 0;
}

/* contact */
.contact {
  width: 100%;
  background: url("./img/contactBg.png") center no-repeat;
  background-size: cover;
}

.contact-content {
  display: flex;
  align-items: center;
  padding-bottom: 10rem;
}
.contact-content img {
  position: absolute;
  top: 57%;
  transform: translateY(-50%);
}
.form-circles {
  left: -10%;
}
.form-blob {
  position: absolute;
  left: -18%;
}

.form-content {
  background: #5d62b5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin: 10rem 0;
  padding: 5rem 0;
  height: 650px;
  max-width: 600px;
  z-index: 10;
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24),
    0px 16px 24px rgba(38, 38, 38, 0.2);
}
.form-content form {
  width: 90%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.row {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin: 5px;
}
.col {
  position: relative;
  width: 100%;
}
.col input,
.col select,
.col textarea {
  width: 100%;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background-color: #5d62b5;
  color: #fff;
  padding-left: 20px;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
.col input,
.col select {
  height: 50px;
}
.col textarea {
  padding-top: 15px;
}

/* for hiding a select dropdown arrow */
.col select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.form-content h2 {
  font-size: 3.6rem;
  color: #fff;
  line-height: 42px;
  margin-bottom: 5rem;
}

.form-content .cta-btn {
  align-self: flex-end;
  margin: 3rem 0;
}

.counter-content {
  width: 50%;
  text-align: center;
  z-index: 10;
  height: 650px;
}
.counter-content h3 {
  font-size: 3rem;
  color: #fff;
  font-weight: 900;
  line-height: 36px;
  margin-top: 18rem;
}
.counter-content p {
  font-size: 9rem;
  color: #fff;
  line-height: 56px;
  font-weight: 900;
  margin: 5rem 0;
}
.counter-content h5 {
  font-size: 2rem;
  color: #fff;
  font-weight: 900;
  line-height: 2.6rem;
}

/* Gallery */
.tabSection {
  position: relative;
}
.tabBtns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.tabBtn {
  padding: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  border-bottom: 0px solid rgba(255, 255, 255, 0.15);
  transition: border-bottom 0.3s ease-in-out;
  position: relative;
}
.tabActive {
  border-bottom: 3px solid rgba(255, 255, 255, 0.795);
  font-weight: bold;
}
.live {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5rem;
  color: #d5d5d5;
}
.liveActive {
  color: #62b58f;
}
.tab {
  max-width: 900px;
  height: 500px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.about-dog iframe {
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24),
    0px 16px 24px rgba(38, 38, 38, 0.2);
  border-radius: 50px;
}
.tabBlob {
  position: absolute;
  top: -10%;
  left: 0;
  z-index: -2;
  
  height: 100%;
}

/* Testimonials */
/* The holy albatross --- google it  */
.testimonials {
  padding: 3rem 0;
}
.columns {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 1.2rem;
}
.columns > * {
  flex-basis: calc(calc(900px - 100%) * 999);
  flex-grow: 1;
}
.cards {
  max-width: 500px;
  height: 340px;
  margin-bottom: 2rem;
}
.cards .overline {
  margin-top: 0;
  color: #5d62b5;
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 3rem;
}
.cards h3 {
  font-size: 3.6rem;
}
.testimonialCard {
  background-color: #fff;
  padding: 4.5rem;
  border-radius: 20px;
}
.testimonialContent {
  max-width: 60ch;
  height: 190px;
}
.testimonialContent p {
  font-size: 1.6rem;
  color: #4b4b4b;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.testimonialAuthor {
  margin-top: 18px;
  display: flex;
  align-items: center;
}
.authorName {
  margin-left: 17px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 24px;
  color: #f2726f;
}

/* Stats */
.stats {
  background: #29c3be;
  margin-top: 5rem;
  min-height: 610px;
}
.top-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}
.stats-heading {
  color: #fff;
  padding-top: 8rem;
}

.stats h3 {
  font-size: 3.6rem;
  font-weight: 900;

  margin-top: 3rem;
}
.stats-picture {
  position: relative;
}
.stats-picture img {
  position: absolute;
  width: 100%;
}
.statsDog {
  left: 9rem;
  top: -8rem;
}

.stats-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.stats-card {
  display: flex;
  color: #fff;
  align-items: center;
}
.stats-icon {
  width: 76px;
  height: 76px;
  margin-right: 11px;
}

.stats-content .counter {
  font-size: 3.6rem;
  font-weight: 900;
}
.stats-content .purpple {
  font-size: 1.6rem;
  color: #5d62b5;
}

/* contact CTA */

.cta-content {
  width: 100%;
  height: 150px;
  background: #5d62b5;
  position: relative;
  top: -75px;
  border-radius: 20px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
}

.cta-content h5 {
  font-size: 2.4rem;
  font-weight: 900;
  color: #fff;
}

/* Footer */
footer {
  min-height: 350px;
  /* display: flex;
  align-items: center; */
}

footer .row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.footer-columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
  width: 210px;
  margin-top: 15px;
  margin-bottom: 100px;
  font-size: 1.4rem;
  color: #4b4b4b;
}

.relative {
  position: relative;
  top: 0px;
  left: 0;
}
.footer-columns ul {
  list-style: none;
}
.footer-columns a {
  color: #4b4b4b;
  font-weight: bold;
}
.footer-columns h4 {
  font-weight: bold;
  text-transform: uppercase;
}
.logoDark {
  height: 40px;
  max-width: 175px;
  margin-right: auto;
  margin-bottom: 20px;
}
.footer-p {
  letter-spacing: 0.15px;
  line-height: 24px;
  margin-bottom: 30px;
  font-size: 1.4rem;
  max-width: 20ch;
  margin-right: auto;
}
.social-icons {
  display: flex;
  gap: 18px;
}
.footer-list {
  position: relative;
  bottom: 0;
  margin-top: auto;
}
.footer-list li {
  margin: 12px 0;
  line-height: 22px;
}
.contact-column p {
  font-size: 1.4rem;
  margin: 8px 0;
  line-height: 20px;
}
.contact-item i,
.contact-item p {
  display: inline-flex;
}
.contact-item i {
  color: #f2726f;
  margin-right: 18px;
}
.copyright {
  height: 60px;
  width: 100%;
  background-color: #5d62b5;
  color: #fff;
}
.copyright .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright p {
  font-size: 1.2rem;
}

/* 
=====================================
=========--- MEDIA QUERIES ---=======
=====================================
*/

@media screen and (max-width: 970px) {
  html {
    font-size: 8px;
  }
  .cta-btn {
    line-height: 1;
  }
  .nav-list {
    align-items: center;
  }
  .about .about-content {
    height: 650px;
  }
  .about .blue-container {
    height: 500px;
  }
  .about .about-blob {
    bottom: 0;
    width: 80%;
    height: auto;
  }

  .tabSection .about-dog {
    bottom: -100px;
  }
  .tab iframe {
    height: 300px;
  }

  .columns .cards {
    height: 100%;
  }
  .testimonialContent {
    height: 100%;
  }

  .stats-card {
    margin: 2rem;
  }

  .footer-columns {
    min-width: 35%;
    display: flex;
    align-items: center !important;
    margin-bottom: 50px;
  }
  .footer-p {
    margin-right: 0;
    max-width: 178px;
  }
  .logoDark {
    height: 40px;
    max-width: 100%;
    margin-right: 0;
  }
  .link-list {
    order: 4;
  }
  .testimonialContent {
    margin: 0 auto;
  }
  .testimonialAuthor {
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 7px;
  }
  .top-nav {
    display: none;
  }
  .mob-nav {
    display: block;
  }
  .mob-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
  .mob-logo img {
    width: 130px;
  }
  .mob-nav .utility-content p {
    font-size: 3vw;
    margin-bottom: 5px;
  }
  .utility-item {
    margin: 0;
  }
  .utility-content .btn {
    padding: 0.2rem 1rem;
  }

  .logo {
    max-width: 70px;
    max-height: 100%;
  }
  .logo img {
    max-width: 70px;
    max-height: 40px;
    padding: 5px;
  }
  .utility-content {
    justify-content: space-between;
  }

  .hero {
    max-height: 100vh;
  }
  .about .aboutCircles{
    right: 0;
    z-index: 10;
  }
  .about .about-content {
    height: 450px;
  }
  .about-content .blue-container {
    height: 300px;
    padding-top: 3rem;
    z-index: 15;
  }
  .features-card {
    justify-content: center;
  }
  .services-card {
    min-height: 200px;
  }
  .contact-content {
    flex-wrap: wrap;
  }
  .contact-content img {
    height: auto;
    width: 60%;
  }

  .counter-content {
    order: 1;
    height: 100%;
    width: 100%;
  }
  .form-content {
    order: 2;
    width: 100%;
  }
  .tabSection {
    margin: 10rem 0;
  }
  .tabSection .about-content {
    height: 100%;
  }

  .tabSection .about-dog {
    bottom: -10px;
  }
  .tab {
    height: auto;
    position: relative;
  }
  .tab iframe {
    height: 200px;
  }

  .top-row {
    justify-content: center;
  }
  .stats-heading,
  .stats-picture {
    width: 100%;
  }

  .stats-heading {
    order: 2;
    z-index: 5;
  }
  .stats-picture {
    order: 1;
    height: 50px;
  }
  .stats-picture img {
    left: 50%;
    transform: translateX(-50%);
  }
  .statsDog {
    left: 0;
    width: 230px !important;
    height: auto;
  }
  .stats-row {
    padding-bottom: 15rem;
  }
  .stats-card {
    width: 100%;
    justify-content: center;
  }

  .cta-content {
    padding: 0 2rem;
  }

  .footer-columns {
    height: auto;
  }
}

@media screen and (max-width: 458px) {
  .link-list {
    order: 0;
  }
}

/* 
  ====================================
  =========--- Animations ---=========
  ====================================
*/

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
